body {
    background-color: rgb(1, 2, 19);
    font-size: 13px;
}

.login_div {
    margin-top: 10%;
    text-align: center;
}

.login_tbl {
    text-align: left;
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(20, 2, 4);
}